@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model SwordsAndSlimes.WEB.Models.CharacterAboutViewModel

@{
    ViewBag.Title = "Детали персонажа";
    Layout = "_Layout";
}
<h1><b>@Model.Name</b></h1>
<h2>Подробнее о персонаже</h2>
<hr/>
<div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="container">
        <img class="img-fluid" src ="\lib\images\pictures\characters\@(Model.Class.Trim()).png" width="570" height="450" alt="Картинка @Model.Class"/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Level)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Health)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Health)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Attack)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Attack)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Class)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Class)
            </dd>
        </dl>
    </div>
    @if (Model.Weapons.Count != 0)
    {
        <div class="container">
            <h3>Оружие персонажа:</h3>
            <div class="row">
                @foreach (WeaponIndexViewModel item in Model.Weapons)
                {
                    <div class="col-10 col-md-6 m-4 m-md-0">
                        <div class="card h-100 border-dark">
                            <a class="text-decoration-none text-dark" asp-controller="Weapons" asp-action="About" asp-route-id="@item.Name">
                                <img class="card-img img-fluid" src="\lib\images\icons\weapons\@(item.Class.Trim())Icon.png"
                                     alt="Изображение @(item.Class.Trim())"/>
                                <div class="card-body">
                                    <div class="card-text">
                                        <h5 class="card-title">
                                            <b>@Html.DisplayFor(modelItem => item.Name)</b>
                                        </h5>
                                        <p class="card-subtitle text-muted">
                                            @Html.DisplayFor(modelItem => item.Class)
                                            @Html.DisplayFor(modelItem => item.Level) lvl
                                        </p>
                                        <p>
                                            ATK: @Html.DisplayFor(modelItem => item.Attack)
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
@if (Model.Monsters.Count != 0)
    {
        <div class="container">
            <h3>Враги:</h3>
            <div class="row">
                @foreach (MonsterIndexViewModel item in Model.Monsters)
                {
                    <div class="col-10 col-md-3 m-4 m-md-0 mb-md-4">
                        <div class="card h-100 border-dark">
                            <a class="text-decoration-none text-dark" asp-controller="Monsters" asp-action="About" asp-route-id="@item.Name">
                                <img class="card-img img-fluid" src="\lib\images\pictures\monsters\@(item.Name.Trim()).png" alt="Изображение @(item.Class.Trim())"/>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <b>@Html.DisplayFor(modelItem => item.Name)</b>
                                    </h5>
                                    <p class="card-subtitle text-muted">
                                        @Html.DisplayFor(modelItem => item.Class)
                                        @Html.DisplayFor(modelItem => item.Level) lvl
                                    </p>
                                    <div class="card-text">
                                        <p>
                                            HP: @Html.DisplayFor(modelItem => item.Health),
                                            ATK: @Html.DisplayFor(modelItem => item.Attack)
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
<div>
    @if (User.IsInRole("Administrator"))
    {
        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Name">Изменить</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Name">Удалить</a>
    }
    <a class="btn btn-dark" asp-action="Index">Обратно в список</a>
</div>