@model SwordsAndSlimes.WEB.Models.CharacterIndexViewModel

@{
    ViewData["Title"] = "Удалить персонажа";
    Layout = "_Layout";
}

<h1>Удаление персонажа @Model.Name</h1>
<hr/>
<h3>Вы уверены, что хотите удалить его?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defence) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CritDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CritDamage) %
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CritChance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CritChance) %
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnergyRecharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnergyRecharge) %
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endurance)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Name" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">Обратно в список</a>
    </form>
</div>
